@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Mori;
    font-weight: 400;
    src: url('./fonts/PPMori-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: Mori;
    font-weight: 600;
    src: url('./fonts/PPMori-SemiBold.otf') format('opentype');
  }
}
